<!DOCTYPE html>
{% load static %}

<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection"/>
    <title>{% block title %}CentrumDeti.cz - hudebni tabor{% endblock %}</title>
    <style>

    </style>

</head>

<body>
 <div class="container">
     <div class="row align: center">
 <div class="col s12  m3">
 </div>

 <div class="col s12  m6">

          <div class="card white ">
            <div class="card-content">



        {% block content %}{% endblock %}
            </div>
          </div>
        </div>
     </div>
 </div>
<!--  Scripts-->
 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="{% static 'js/materialize.js' %}"></script>
 <script src="{% static 'js/init.js' %}"></script>
</body>

</html>