{% extends "skelet.html" %}
{% block title %}Hudebni tabor{% endblock %}
{% block content %}
{% load static %}

{% if bands%}


<ul class="collapsible" data-collapsible="accordion">
   {% for band in bands %}
  <li>

    <div class="collapsible-header"><span class="badge">{{ band.score }}</span>
        <i class="material-icons {{band.colour}}">album</i>{{ band.name }}</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="row">


        <ul class="collection">
        {% for member in band.members.all %}
          <li class="collection-item">{{member}}</li>
         {% endfor %}
        </ul>

        </div>

        {% if vedouci in user.groups.all%}
          <div class="row">

            <div class="divider"></div>
            <br>
        <div class="col s6">
                <form action="{% url 'tabor:rate' band.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="points" value="10">
                    <button class="btn waves-effect green"><i class="material-icons">thumb_up</i>10</button>
                </form>
                <br>
                <form action="{% url 'tabor:rate' band.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="points" value="20">
                    <button class="btn waves-effect green"><i class="material-icons">thumb_up</i>20</button>
                </form>
                <br>
                <form action="{% url 'tabor:rate' band.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="points" value="50">
                    <button class="btn waves-effect green"><i class="material-icons">thumb_up</i>50</button>
                </form>
        </div>
            <div class="col s6">
                <form action="{% url 'tabor:rate' band.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="points" value="-10">
                    <button class="btn waves-effect red"><i class="material-icons">thumb_down</i>10</button>
                </form>
                <br>
                <form action="{% url 'tabor:rate' band.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="points" value="-20">
                    <button class="btn waves-effect red"><i class="material-icons">thumb_down</i>20</button>
                </form>
                <br>
                <form action="{% url 'tabor:rate' band.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="points" value="-50">
                    <button class="btn waves-effect red"><i class="material-icons">thumb_down</i>50</button>
                </form>
            </div>

        </div>
        {% endif %}
    </div>
    </div>
  </li>
    {% endfor %}
</ul>



{% else %}
    <p>No bands here.</p>
{% endif %}


{% endblock %}
