{% extends "skelet.html" %}
{% block title %}Hudebni tabor{% endblock %}
{% block content %}
{% load static %}
<div class="section">
    <h4 class="header">{{team.name}} $ {{team.money}} .00</h4>
        <ul class="collection">
           {% for member in team.members.all %}
          <li class="collection-item">{{member.name}}</li>

        {% endfor%}
        </ul>

</div>

<div class="row">
    <div class="col s12 m6">
           {% for celeb in celebs %}

        <div class="card white ">
            <div class="card-content">
                <div class="row">
                    <span class="card-title">{{celeb.name}}</span>
                    <h6 class="bold">FREE = {{celeb.mult_free}}, COOL = {{celeb.mult_cool}}, IN = {{celeb.mult_in}}, VIRAL = {{celeb.mult_vir}}</h6>
                        </div>
                            <blockquote>
                               <p>{{celeb.story}}</p>
                            </blockquote>
                            {% if celeb.site%}
                            <p><i class="material-icons left">my_location</i> {{celeb.site}} </p>
                            {% endif%}
                        </div>

            {% if vedouci in user.groups.all%}
            <div class="divider"></div>
            <br>

            <div class="row">
            <div class="col s12">


               <form action="{% url 'tabor:employ' team.id %}" method="post">
                    {% csrf_token %}
                    <div class="col s1">
                        <i class="material-icons left">settingsn</i>
                    </div>
                   <div class="input-field col s5">
                        <select name="site_id">
                            <option value="-1"  selected>---</option>
                            {% for site in sites %}
                            <option value="{{site.id}}">{{site}}</option>
                            {% endfor %}
                        </select>
                        <label>Vyber zaměstnání</label>
                    </div>
                   <div class="input-field col s3">
                        <select name="viral_id">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>

                        </select>
                        <label>Viralita</label>
                    </div>
                   <div class="col s3">
                        <input type="hidden" name="celeb_id" value="{{celeb.id}}">
                        <button class="btn waves-effect"><i class="material-icons">input</i></button>
                    </div>
                </form>

            </div>
            </div>
            {% endif %}

        </div>

            {%endfor%}
    </div>

    <div class="col s12 m6">

    </div>
</div>



{% endblock %}