{% extends "skelet.html" %}
{% block title %}Hudebni tabor{% endblock %}
{% block content %}
{% load static %}


{% if vedouci in user.groups.all%}

  <div class="fixed-action-btn horizontal click-to-toggle">
    <a   href="{%url 'tabor:fci_settings' sel_turn.id %}"  class="btn-floating btn-large black">
      <i class="material-icons">settings</i>
    </a>

  </div>

   {% endif %}





<div class="row">

   <div class="col s12 m6">

   {% if fci_teams%}
           <div class="section">
           <h5 class="header">Pořadí</h5><table>
              <div class="divider"></div>
                <thead>
                  <tr>
                      <th>Tým</th>
                      <th>Money</th>
                  </tr>
                </thead>
                    <tbody>
                        {% for team in fci_teams %}
                                  <tr>
                                    <td>
                                        <a href="{% url 'tabor:fci_team' team.id %}" class="collection-item">
                                         <span class="new badge color {{team.colour}} left " data-badge-caption="">{{team.name}}</span>
                                        </a>
                                    </td>
                                    <td>${{team.money}}.00</td>
                                  </tr>
                      {% endfor %}
                    </tbody>
              </table>
            </div>

       {% else %}
       Zatím  žádné týmy ve hře.
    {% endif %}



     {% if jobless %}
    <div class="divider"></div>

       <div class="section">


                <h5>Nezaměstnaní</h5>
                   <div class="divider"></div>
            <table>
                        <thead>
                          <tr>
                              <th>Postava</th>
                              <th>Tým</th>
                              <th>F</th>
                              <th>C</th>
                              <th>I</th>

                          </tr>
                      </thead>
                      <tbody>


            {% for celeb in jobless %}

            <tr>
                <th> {{celeb.name}}</th>
                <th>
                 <a href="{% url 'tabor:fci_team' celeb.team.id %}" class="collection-item">
                     <span class="new badge color {{celeb.team.colour}} left " data-badge-caption="">{{celeb.team.name}}</span>
                 </a>
                </th>
                <th> {{celeb.mult_free}}</th>
                <th> {{celeb.mult_cool}}</th>
                <th> {{celeb.mult_in}}</th>
            </tr>

            {% endfor %}


                 </tbody>
             </table>

        </div>



 {% endif %}



    {% if pay_days%}
   <div class="divider"></div>
   <div class="section">
        <h5>Výplaty</h5>
        <div class="divider"></div>
        <ul class="collection">
        {% for pay_day in pay_days%}
            <div class="collection-item"><span class="badge">{{pay_day.user}}</span><i class="material-icons left ">shop</i>{{pay_day.moment}}</div>
        {% endfor %}
        </ul>
   </div>
  {% endif %}




 </div>
 <div class="col s12 m6">
{% for site in sites %}

          <div class="card white ">
            <div class="card-content">

                 <span class="card-title">{{site.name}}   </span>
                <p>FREE:{{site.add_free}} COOL:{{site.add_cool}} IN:{{site.add_in}} </p>

                 <div class="divider"></div>

                      <table>
                        <thead>
                          <tr>
                              <th>Postava</th>
                              <th>Tým</th>
                              <th>F</th>
                              <th>C</th>
                              <th>I</th>
                              <th>V</th>
                          </tr>
                      </thead>
                      <tbody>

                     {% for celeb in celebs %}
                        {%if celeb.site == site%}
                            <tr>


                              <th> {{celeb.name}}</th>
                              <th>
                                  <a href="{% url 'tabor:fci_team' celeb.team.id %}" class="collection-item">
                              <span class="new badge color {{celeb.team.colour}} left " data-badge-caption="">{{celeb.team.name}}</span>
                                  </a>
                              </th>
                              <th> {{celeb.mult_free}}</th>
                              <th> {{celeb.mult_cool}}</th>
                              <th> {{celeb.mult_in}}</th>
                              <th> {{celeb.mult_vir}}</th>

                            </tr>
                        {%endif%}
                     {% endfor %}

                      </tbody>
                      </table>
            </div>
          </div>

{% endfor %}
   </div>



   </div>






{% endblock %}