{% extends "skelet.html" %}
{% block title %}Hudebni tabor{% endblock %}
{% block content %}
{% load static %}
{% if vedouci in user.groups.all%}



<div class="row">
    <h5>ŘÍDÍCÍ PANEL TEMELÍN</h5>
    <div class="divider"></div>
    <div class="section">
        <div class="row align: center">
        <h5>Pokud nevíš co tohle tlačítko dělá, tak ho nemačkej!</h5>
        <a href="{%url 'tabor:pay_days_new' sel_turn.id %}" class="waves-effect waves-light btn-large red darken-2">
        <i class="material-icons right">error</i>
        <i class="material-icons left">error</i>
        <i class="material-icons right">error</i>
        <i class="material-icons left">error</i>

        VÝPLATA </a>
        </div>
    </div>
    <div class="section">

       <ul class="collection with-header">
        <li class="collection-header"><h4>Počáteční podmínky</h4>
      </li>

      {% for init_cond in init_conds %}

        <li class="collection-item">
            <div class = "row">
                <div class="col s4">
                 {{init_cond.celeb}}
                    <span class="new badge color {{init_cond.team.colour}}" data-badge-caption="">{{init_cond.team.name}}</span>

                </div>

                    <a href="#!" class="secondary-content">
                 <i class="material-icons">delete</i></a>

            </div>
        </li>
      {% endfor %}

      </ul>


            <div class="row">

             <form action="{% url 'tabor:new_init_con' sel_turn.id %}" method="post">
                    {% csrf_token %}
                    <div class="col s2 align: center">
                        <i class="material-icons left">perm_contact_calendar</i>
                        Nová podmínka:
                    </div>
                   <div class="input-field col s4">
                        <select name="team_id">
                            <option value="-1"  selected>---</option>
                            {% for team in teams %}
                            <option value="{{team.id}}">{{team.name}}</option>
                            {% endfor %}
                        </select>
                        <label>Team</label>
                    </div>
                   <div class="input-field col s4">
                        <select name="celeb_id">
                             <option value="-1"  selected>---</option>
                            {% for celeb in celebs %}

                            <option value="{{celeb.id}}">{{celeb}}</option>
                            {% endfor %}

                        </select>
                        <label>Postava</label>
                    </div>
                   <div class="col s2 align: center">

                        <button class="btn waves-effect"><i class="material-icons">input</i></button>
                    </div>
            </form>

            </div>
            <div class="divider"/>








    </div>

    <div class="row align: center">

        <h5>Pokud nevíš co tahle tlačítka dělají, tak je nemačkej! Důsledky jsou nevratné</h5>


    <div class="col s12 m6">
        <a href="{%url 'tabor:restart' sel_turn.id %}" class="waves-effect waves-light btn-large red darken-2">
        <i class="material-icons right">error</i>
        <i class="material-icons left">error</i>
        <i class="material-icons right">error</i>
        <i class="material-icons left">error</i>
        <i class="material-icons right">error</i>
        <i class="material-icons left">error</i>
        HARD FATAL RESET / START</a>

    </div>

    <div class="col s12 m6">

    <div class="row">

             <form action="{% url 'tabor:return_to_day' sel_turn.id %}" method="post">
                    {% csrf_token %}

                   <div class="input-field col s6">
                        <select name="pay_day_id">
                            <option value="-1"  selected>---</option>
                            {% for pay_day in pay_days %}
                            <option value="{{pay_day.id}}">{{pay_day}}</option>
                            {% endfor %}
                        </select>
                        <label>Výplata</label>
                    </div>

                   <div class="col s6 align: center">
                        <button class="waves-effect waves-light btn-large red darken-2">
                                RESTORE
                              <i class="material-icons right">error</i>
                              <i class="material-icons left">error</i>
                            </button>
                    </div>
            </form>


    </div>

</div>
{% endif %}
{% endblock %}