{% extends "skelet.html" %}
{% block title %}Hudebni tabor{% endblock %}
{% block content %}
{% load static %}




<div class="row">
 <div class="section">

<table class="responsive-table">
        <thead>
          <tr>
              <th>výplata</th>
                {% for team in teams%}
                  <th>
                          {{team.name}}
                  </th>
                {% endfor %}
        </tr>
        </thead>

        <tbody >
            {% for pay_day_line in pay_day_lines %}
          <tr>
                {% for line_element in pay_day_line %}
                 <td>{{line_element}}</td>
                {% endfor %}
          </tr>
            {% endfor %}
        </tbody>
      </table>

    </div>
</div>







{% endblock %}