{% extends "skelet.html" %}
{% block title %}Hudebni tabor{% endblock %}
{% block content %}
{% load static %}
{% if vedouci in user.groups.all%}
<div class="section">
    <h4 class="header">Issue list</h4>
    <div class="divider"></div>


    <ul class="collapsible" data-collapsible="accordion">

      <li>
        <div class="collapsible-header">
                        <i class="material-icons">settings_input_composite</i>


            Filter

        </div>
        <div class="collapsible-body">


            <form action="{% url 'tabor:issue_list' sel_turn.id %}" method="post">
                    {% csrf_token %}
                   <div class="row ">

                   <div class="col s12 m6">
                        <div class="input-field">
                        <select  name="filter_type_id">
                            <option value=-1>---</option>
                            {% for issue_type in issue_types %}
                            <option value="{{issue_type.id}}">{{issue_type.label}}
                            </option>

                            {% endfor %}
                        </select>
                        <label>Typ</label>
                        </div>

                       <div class="input-field">
                        <select  name="filter_status_id">
                            <option value=-1>---</option>
                            {% for issue_status in issue_statuses %}
                            <option value="{{issue_status.id}}">{{issue_status.label}}
                            </option>

                            {% endfor %}
                        </select>
                        <label>Status</label>
                        </div>


                   </div>




                   <div class="input-field col s12 m6 align: center">
                         <button class="btn waves-effect">Filter</button>
                         <a href="{% url 'tabor:issue_list' sel_turn.id%}" class="btn waves-effect">Cancel</a>
                   </div>
                </div>
            </form>



        </div>
      </li>

    </ul>








    <div class="row">
        <form action="{% url 'tabor:issue_list_new' sel_turn.id %}" method="post">
                    {% csrf_token %}
                   <div class="row ">
                   <div class="input-field col s12" >
                       <i class="material-icons prefix">edit_mode_circle</i>
                       <textarea  name="notice" id="body" class="materialize-textarea"></textarea>
                       <label for="body">New</label>
                   </div>


                   <div class="input-field col s12 m6">
                        <i class="material-icons prefix">grade</i>
                        <select name="type_id">
                            {% for issue_type in issue_types %}
                            <option value="{{issue_type.id}}">{{issue_type.label}}
                            </option>

                            {% endfor %}
                        </select>
                       <label>typ</label>
                   </div>
                   <div class="input-field col s12 m6 align: center">

                         <button class="btn waves-effect"><i class="material-icons">input</i></button>
                   </div>
                </div>
        </form>
    </div>
    <ul class="collapsible" data-collapsible="accordion">
        {% for issue in issues %}
      <li>
        <div class="collapsible-header">

            <span class="badge">{{issue.moment}}</span>
                        <i class="material-icons">{{issue.type.icon}}</i>
                                {{issue.author}}</a>
            <blockquote style="border-left-color: {{issue.status.color}}">
            <p>{{issue.body}}</p>
            </blockquote>
        </div>
        <div class="collapsible-body">
            <div class="row align: center">
                <div class="col s4">
                <form action="{% url 'tabor:issue_change_status' sel_turn.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="status_label" value="seen">
                    <input type="hidden" name="issue_id" value="{{issue.id}}">
                    <button class="btn waves-effect orange"><i class="material-icons">visibility</i></button>
                </form>
                </div>
                <div class="col s4">
                <form action="{% url 'tabor:issue_change_status' sel_turn.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="status_label" value="checked">
                    <input type="hidden" name="issue_id" value="{{issue.id}}">
                    <button class="btn waves-effect green"><i class="material-icons">done</i></button>
                </form>
                </div>
                <div class="col s4">
                <form action="{% url 'tabor:issue_change_status' sel_turn.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="status_label" value="deleted">
                    <input type="hidden" name="issue_id" value="{{issue.id}}">
                    <button class="btn waves-effect black"><i class="material-icons">delete</i></button>
                </form>
                </div>
            </div>
        </div>
      </li>
        {% endfor %}
    </ul>


</div>


{% else %}
pro issue list je nutné se přihlásit
{% endif%}
{% endblock %}