{% extends "skelet.html" %}
{% block title %}Hudebni tabor{% endblock %}
{% block content %}
{% load static %}


<div class="section">
    <h4 class="header">Nástěnka</h4>
    <div class="divider"></div>
        {% if notice_board %}
            {{notice_board.body|safe}}
        {% else %}
            zatím tu nic není
        {% endif %}
</div>



{% endblock %}