<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>{% block title %}CentrumDeti.cz - hudebni tabor{% endblock %}</title>

    <link rel="stylesheet"  href="{% static 'from_dan/css/styles.min.css' %}" />
    <script src="{% static 'jquery/lib/jquery.min.js' %}" ></script>

    <script type="application/javascript">var _stack = [];</script>
    <script type="application/javascript" src="{% static 'from_dan/js/scripts.min.js'%}" async defer></script>

</head>

<body>

     <section id="main-content">
           {% block content %}{% endblock %}

        </section>
        <div id="flashes">
        </div>
    </body>
</html>
</html>