<!DOCTYPE html>
{% load static %}


<html lang="cz">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>{% block title %}CentrumDeti.cz - hudebni tabor{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection"/>

    <script src="{% static 'jquery/lib/jquery.min.js' %}" ></script>



<!--  Scripts-->



<style>


	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}

</style>
</head>

<body>




<!-- Dropdown Structure -->
   <ul id="turn_dropdown" class="dropdown-content">

     {% for turn in turn_list%}
        <li><a href="{% url current_url turn.id%}">{{turn.label}}</a></li>
        <li class="divider"></li>
    {% endfor %}

    </ul>

    <ul id="fci_dropdown" class="dropdown-content">

        <li><a href="{% url 'tabor:fci_home' sel_turn.id%}">Pořadí</a></li>
        <li class="divider"></li>
        <li><a href="https://docs.google.com/document/d/1iL9-LpRWVbvGqVt6_iuceAfm2lccT8xN8EDuieprFk4/pub?embedded=true">Pravidla</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'tabor:fci_details' sel_turn.id%}">Historie</a></li>
        <li class="divider"></li>


    </ul>


    <nav>
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <div class="nav-wrapper green  darken-1">

        <ul class="side-nav" id="mobile-demo">
        <ul class="collapsible collapsible-accordion">

            <li><a href="{% url 'tabor:notice_board' sel_turn.id%}">Nástěnaka</a></li>
            <li><a href="{% url 'tabor:time_table' sel_turn.id%}">Zkušebny</a></li>
            {% if vedouci in user.groups.all%}
            <li><a href="{% url 'tabor:issue_list' sel_turn.id%}">Issues</a></li>
            {% endif %}


            <li><a href="{% url 'tabor:deset4neb' sel_turn.id%}">Deset bodů pro Nebelvír</a></li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Hra FreeCoolIn</a>
              <div class="collapsible-body">
                <ul>
                        <li><a href="{% url 'tabor:fci_home' sel_turn.id%}">Pořadí</a></li>
                        <li><a href="https://docs.google.com/document/d/1iL9-LpRWVbvGqVt6_iuceAfm2lccT8xN8EDuieprFk4/pub?embedded=true">Pravidla</a></li>
                        <li><a href="{% url 'tabor:fci_details' sel_turn.id%}">Historie</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">Vyber turnus</a>
              <div class="collapsible-body">
                <ul>
                     {% for turn in turn_list%}
                        <li><a href="{% url current_url turn.id%}">{{turn.label}}</a></li>
                    {% endfor %}
                </ul>
              </div>
            {% if user.is_authenticated%}
            <li><a href="{% url 'tabor:logout' %}">Log out</a></li>

              {% else %}

              <li><a href="{% url 'tabor:login' %}">Log on</a></li>
              {% endif %}
          </ul>
          </ul>



        <ul class="right hide-on-med-and-down">
          <li><a class="dropdown-button" href="#!" data-activates="turn_dropdown">Turnus: {{sel_turn.label}}<i class="material-icons right">arrow_drop_down</i></a></li>

            {% if user.is_authenticated %}
          <li><a href="{% url 'tabor:logout' %}">Log out</a></li>

          {% else %}

          <li><a href="{% url 'tabor:login' %}">Log on</a></li>
          {% endif %}


        </ul>

        <ul class="left hide-on-med-and-down">
           <!-- Dropdown Trigger -->
             <li><a href="{% url 'tabor:notice_board' sel_turn.id%}">Nástěnaka</a></li>
              <li><a href="{% url 'tabor:time_table' sel_turn.id%}">Zkušebny</a></li>
            {% if vedouci in user.groups.all%}
             <li><a href="{% url 'tabor:issue_list' sel_turn.id%}">Issues</a></li>
            {% endif %}
          <li><a href="{% url 'tabor:deset4neb' sel_turn.id%}">Deset bodů pro Nebelvír</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="fci_dropdown">Hra FreeCoolIn<i class="material-icons right">arrow_drop_down</i></a></li>

        </ul>
        </ul>

          </div>
    </nav>



    <div class="section white">

         <div class="container">




        {% block content %}{% endblock %}


         </div>

       <footer class="page-footer grey lighten-2">
         <div class="container">

            <div class="row grey-text text-grey darken-2">
              <div class="col s12">
                <ul>
                  <li><a href="http://centrumdeti.cz/hudebni-tabor/">Centrum Deti</a></li>
                  <li><a href="https://www.youtube.com/user/CentrumDeti">YouTube</a></li>
                </ul>
              </div>
            </div>
         </div>

          <div class="footer-copyright">
            <div class="container">
            © Site powered by Kuba B.

          </div>
        </div>
        </footer>


    </div>
  </div>



    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('select').material_select(); });
    </script>

</body>

</html>