{% extends "skelet_dan.html" %}
{% block title %}Hudebni tabor{% endblock %}
{% block content %}
{% load static %}



 <div id="calendar"></div>

    <div id="dlg-new-event" style="display:none;">
        <h3>Nová zkouška</h3>

        <table class="form">
                               {% csrf_token %}

            <tr>
                <th><label for="dlg-new-event-band_id" class="label">Kapela:</label></th>
                <td>
                    <label class="select">
                        <select id="dlg-new-event-band_id">
                            {% if vedouci in user.groups.all%}
                                {% for band in turns_bands %}
                                <option value="{{band.id}}">{{band.name}}</option>
                                {% endfor%}
                            {% else %}
                                {% for band in members_band %}
                                <option value="{{bands.id}}">{{bands.name}}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <th><label for="dlg-new-event-rehearsal_room" class="label">Zkušebna:</label></th>
                <td>
                    <label class="select">
                        <select id="dlg-new-event-rehearsal_room">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr class="event-time">
                <th><label for="dlg-new-event-starts_on" class="label">Začátek:</label></th>
                <td>
                    <label class="select">
                        <select id="dlg-new-event-starts_on" class="event-start-time"></select>
                    </label>
                </td>
            </tr>
            <tr class="event-time">
                <th><label for="dlg-new-event-ends_on" class="label">Konec:</label></th>
                <td>
                    <label class="select">
                        <select id="dlg-new-event-ends_on" class="event-end-time"></select>
                    </label>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <button type="button" class="btn btn-primary" data-action="fulfill">Vytvořit</button>
                    <a href="#" class="btn btn-text" data-action="reject">Zrušit</a>
                </td>
            </tr>
        </table>
    </div>

    <div id="dlg-edit-event" style="display:none;">
        <h3>Upravit čas zkoušky</h3>

        <table class="form">

            <tr class="event-time">
                <th><label for="dlg-edit-event-starts_on" class="label">Začátek:</label></th>
                <td>
                    <label class="select">
                        <select id="dlg-edit-event-starts_on" class="event-start-time"></select>
                    </label>
                </td>
            </tr>
            <tr class="event-time">
                <th><label for="dlg-edit-event-ends_on" class="label">Konec:</label></th>
                <td>
                    <label class="select">
                        <select id="dlg-edit-event-ends_on" class="event-end-time"></select>
                    </label>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <button type="button" class="btn btn-primary" data-action="fulfill">Uložit</button>
                    <a href="#" class="btn btn-text" data-action="reject">Zrušit</a>
                </td>
            </tr>
        </table>
    </div>

    <div id="dlg-detail" style="display:none;">
        <h3 id="dlg-detail-time"></h3>
        <p>
            <strong>Kapela: <span id="dlg-detail-band"></span></strong><br />
            <strong>Zkušebna: <span id="dlg-detail-room"></span></strong>
        </p>
        <div id="dlg-detail-collisions" style="display:none;">
            <h4>Kolize:</h4>
            <ul id="dlg-detail-collision-list"></ul>
        </div>

        <p class="dialog-buttons">
            <button data-action="reject" class="btn btn-danger" id="dlg-detail-btnRemove" onclick="return window.confirm('Určitě?');">Smazat</button>
            <button data-action="reject" class="btn btn-warning">Upravit</button>
            <button data-action="fulfill" class="btn btn-primary">Zavřít</button>
        </p>
    </div>



    {% csrf_token%}
    <script type="application/javascript">

       _stack.push(function () {

            var csrftoken = document.getElementsByName("csrfmiddlewaretoken")[1].value,
                apiUrl = "/tabor/time_table",
                filter = "all",
                bands = {{ bands_data|safe  }}
                {% if member %}
                userId = {{member.id}},
                {% else %}
                userId = 0,
                {% endif %}

                validTimes = {{ valid_times|safe  }}
                rooms = ['A','B','F','G'];



            (function($) {


                var cal = $('#calendar'),
                    db = [];

                function prepareRehearsals(rehearsals) {
                    return rehearsals.map(prepareRehearsal);
                }

                function prepareRehearsal(rehearsal) {
                    rehearsal.start = moment(rehearsal.date + 'T' + rehearsal.starts_on + ':00');
                    rehearsal.end = moment(rehearsal.date + 'T' + rehearsal.ends_on + ':00');
                    rehearsal.band = bands[rehearsal.band_id];
                    return rehearsal;
                }

                function compareRehearsals(a, b) {
                    var diff = a.start.diff(b.start) || a.end.diff(b.end);

                    if (diff) {
                        return diff;
                    }

                    return rooms.indexOf(a.rehearsal_room || a.band.rehearsal_room) - rooms.indexOf(b.rehearsal_room || b.band.rehearsal_room);
                }

                function computeCollisions(rehearsals) {
                    rehearsals.sort(compareRehearsals);

                    var a = 0, b = 0, n = rehearsals.length, i, id;

                    for (; b < n; b++) {
                        rehearsals[b].collisions = {};
                        rehearsals[b].has_collisions = false;

                        for (i = a; i < b; i++) {
                            if (rehearsals[i].end.isSameOrBefore(rehearsals[b].start)) {
                                if (a + 1 === i) {
                                    a++;
                                }
                            } else {
                                for (id in rehearsals[b].band.members) {
                                    if (rehearsals[b].band.members.hasOwnProperty(id) && rehearsals[i].band.members.hasOwnProperty(id)) {
                                        if (!rehearsals[b].collisions[rehearsals[i].band_id]) {
                                            rehearsals[b].collisions[rehearsals[i].band_id] = {
                                                since: rehearsals[b].starts_on,
                                                until: rehearsals[i].end.isBefore(rehearsals[b].end) ? rehearsals[i].ends_on : rehearsals[b].ends_on,
                                                members: []
                                            };
                                        }

                                        rehearsals[b].collisions[rehearsals[i].band_id].members.push(id);
                                        rehearsals[b].has_collisions = true;

                                        if (!rehearsals[i].collisions[rehearsals[b].band_id]) {
                                            rehearsals[i].collisions[rehearsals[b].band_id] = {
                                                since: rehearsals[b].starts_on,
                                                until: rehearsals[i].end.isBefore(rehearsals[b].end) ? rehearsals[i].ends_on : rehearsals[b].ends_on,
                                                members: []
                                            };
                                        }

                                        rehearsals[i].collisions[rehearsals[b].band_id].members.push(id);
                                        rehearsals[i].has_collisions = true;
                                    }
                                }
                            }
                        }
                    }
                }

                function computeVisible(rehearsals) {
                    if (filter === 'all') {
                        return rehearsals;
                    }

                    return rehearsals.filter(function (rehearsal) {
                        if (filter === 'me') {
                            return userId in rehearsal.band.members;
                        } else {
                            return filter === (rehearsal.rehearsal_room || rehearsal.band.rehearsal_room);
                        }
                    });
                }

                function getEvents() {
                    return computeVisible(db).map(function(rehearsal) {
                        rehearsal.event || (rehearsal.event = createEvent(rehearsal));
                        rehearsal.event.className = 'room-' + (rehearsal.rehearsal_room || rehearsal.band.rehearsal_room) + (rehearsal.has_collisions ? ' has-collisions' : '');
                        return rehearsal.event;
                    });
                }

                function createEvent(rehearsal) {
                    return {
                        id: rehearsal.id,
                        title: rehearsal.band.name,
                        start: rehearsal.start,
                        end: rehearsal.end,
                        {% if not vedouci in user.groups.all %}
                        editable: userId in rehearsal.band.members,
                        {% endif %}
                        rehearsal: rehearsal
                    };
                }

                function saveEvent(event) {
                    $.post(expand_str('%/%/edit', apiUrl, event.rehearsal.id), {
                        date: event.start.format('YYYY-MM-DD'),
                        starts_on: event.start.format('HH:mm'),
                        ends_on: event.end.format('HH:mm')
                    }, function(payload) {
                        if (payload.error) {
                            flash_message(payload.message, 'error');
                            event.rehearsal.event = null;
                            cal.fullCalendar('removeEvents');
                            cal.fullCalendar('renderEvents', getEvents());
                        } else {
                            event.rehearsal.date = event.start.format('YYYY-MM-DD');
                            event.rehearsal.starts_on = event.start.format('HH:mm');
                            event.rehearsal.ends_on = event.end.format('HH:mm');
                            event.rehearsal.start = event.start;
                            event.rehearsal.end = event.end;
                            event.rehearsal.event = null;

                            computeCollisions(db);
                            cal.fullCalendar('removeEvents');
                            cal.fullCalendar('renderEvents', getEvents());
                        }
                    });
                }

                function createTimeOptions(last) {
                    var groups = [];

                    validTimes.forEach(function(range) {
                        var start = moment(range.start, 'HH:mm'),
                            end = moment(range.end, 'HH:mm'),
                            group = $('<optgroup></optgroup>'),
                            time;

                        groups.push(group);

                        while (last === false ? start.isBefore(end) : start.isSameOrBefore(end)) {
                            time = start.format('HH:mm');
                            group.append($('<option></option>').attr('value', time).text(time));
                            start.add(30, 'minutes');
                        }
                    });

                    return groups;
                }

                function initEventTimeOptions(dlg) {
                    dlg.find('.event-start-time').append(createTimeOptions(false));
                    dlg.find('.event-end-time').append(createTimeOptions());
                }


                function showNewEventDialog(start, end, editTime) {
                    return open_dialog('dlg-new-event', function(dlg, init) {
                        if (init) {
                            dlg.find('#dlg-new-event-band_id').on('change', function() {
                                dlg.find('#dlg-new-event-rehearsal_room').val(bands[$(this).val()].rehearsal_room);
                            });

                            dlg.find('#dlg-new-event-rehearsal_room').val(bands[dlg.find('#dlg-new-event-band_id').val()].rehearsal_room);

                            initEventTimeOptions(dlg);
                        }

                        if (editTime) {
                            dlg.find('.event-time').css('display', '');
                            dlg.find('#dlg-new-event-starts_on').val(start.format('HH:mm'));
                            dlg.find('#dlg-new-event-ends_on').val(end.format('HH:mm'));
                        } else {
                            dlg.find('.event-time').css('display', 'none');
                        }
                    }).then(function(dlg) {
                        var bandId = dlg.find('#dlg-new-event-band_id').val() - 0,
                            room = dlg.find('#dlg-new-event-rehearsal_room').val();

                        return new Promise(function(fulfill, reject) {
                            $.post('{% url 'tabor:time_table_add' sel_turn.id%}', {
                                csrfmiddlewaretoken: csrftoken,
                                date: start.format('YYYY-MM-DD'),
                                starts_on: editTime ? dlg.find('#dlg-new-event-starts_on').val() : start.format('HH:mm'),
                                ends_on: editTime ? dlg.find('#dlg-new-event-ends_on').val() : end.format('HH:mm'),
                                rehearsal_room: bands[bandId].rehearsal_room !== room ? room : null,
                                band_id: bandId
                            }, function (payload) {
                                if (payload.error) {
                                    flash_message(payload.message, 'error');
                                    reject();
                                } else {
                                    db.push(prepareRehearsal(payload.rehearsal));
                                    computeCollisions(db);
                                    cal.fullCalendar('removeEvents');
                                    cal.fullCalendar('renderEvents', getEvents());
                                    fulfill();
                                }
                            });
                        });
                    });
                }

                function showEditEventDialog(event) {
                    open_dialog('dlg-edit-event', function(dlg, init) {
                        if (init) {
                            initEventTimeOptions(dlg);
                        }

                        dlg.find('#dlg-edit-event-starts_on').val(event.start.format('HH:mm'));
                        dlg.find('#dlg-edit-event-ends_on').val(event.end.format('HH:mm'));
                    }).then(function(dlg) {
                        var start = dlg.find('#dlg-edit-event-starts_on').val().replace(/0(\d)/, '$1').split(/:/),
                            end = dlg.find('#dlg-edit-event-ends_on').val().replace(/0(\d)/, '$1').split(/:/);

                        event.start.set('hour', start[0]).set('minute', start[1]);
                        event.end.set('hour', end[0]).set('minute', end[1]);
                        saveEvent(event);
                    });
                }

                cal.fullCalendar({
                    height: 'auto',
                    locale: 'cs',
                    timezone: 'local',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'agendaWeek,agendaDay'
                    },
                    defaultView: window.innerWidth <= 768 ? 'agendaDay' : 'agendaWeek',
                    views: {
                        day: {
                            titleFormat: 'dddd D. M.',
                            columnFormat: ' '
                        },
                        week: {
                            titleFormat: 'D. M.',
                            titleRangeSeparator: '. - '
                        }
                    },
                    allDaySlot: false,
                    slotLabelFormat: 'HH:mm',
                    slotEventOverlap: false,
                    timeFormat: 'HH:mm',
                    firstDay: 1,
                    minTime: validTimes[0].start,
                    maxTime: validTimes[validTimes.length - 1].end,
                    editable: true,
                   {% if members_band or vedouci in user.groups.all %}
                    selectable: true,
                    selectHelper: true,
                    selectConstraint: 'businessHours',
                    eventConstraint: 'businessHours',
                    {% endif %}
                    businessHours: validTimes.map(function(range) { range.dow = [0, 1, 2, 3, 4, 5, 6]; return range; }),
                    eventOrder: function(a, b) {
                        return compareRehearsals(a.rehearsal, b.rehearsal);
                    },
                    dayClick: function(date) {
                        showNewEventDialog(date, date.clone().add(30, 'minutes'), true);
                    },
                    eventClick: function (event, evt) {
                        evt.preventDefault();

                        open_dialog('dlg-detail', function(dlg) {
                            dlg.find('#dlg-detail-time').text(expand_str('% - %', event.start.format('HH:mm'), event.end.format('HH:mm')));
                            dlg.find('#dlg-detail-band').text(event.rehearsal.band.name);
                            dlg.find('#dlg-detail-room').text(event.rehearsal.rehearsal_room || event.rehearsal.band.rehearsal_room);

                            if (event.rehearsal.has_collisions) {
                                dlg.find('#dlg-detail-collisions').css('display', '');

                                var list = dlg.find('#dlg-detail-collision-list'),
                                    bid, c;

                                list.empty();

                                for (bid in event.rehearsal.collisions) {
                                    c = event.rehearsal.collisions[bid];
                                    list.append(
                                        $('<li></li>').text(
                                            expand_str(
                                                '% - % % (%)',
                                                c.since, c.until, bands[bid].name,
                                                c.members.map(function(id) { return bands[bid].members[id].name; }).join(', ')
                                            )
                                        )
                                    );
                                }
                            } else {
                                dlg.find('#dlg-detail-collisions').css('display', 'none');
                            }

                        }).then(null, function(btn) {
                            if (btn) {
                                if (btn.id === 'dlg-detail-btnRemove') {
                                    $.get(expand_str('%/%/remove', apiUrl, event.rehearsal.id), function () {
                                        db.splice(db.indexOf(event.rehearsal), 1);
                                        computeCollisions(db);
                                        cal.fullCalendar('removeEvents');
                                        cal.fullCalendar('renderEvents', getEvents());
                                    });
                                } else {
                                    showEditEventDialog(event);
                                }
                            }
                        });
                    },
                    {% if members_band or vedouci in user.groups.all %}

                    select: function (start, end) {
                        showNewEventDialog(start, end).then(function() {
                            cal.fullCalendar('unselect');
                        }, function () {
                            cal.fullCalendar('unselect');
                        });
                    },
                    {% endif %}
                    eventOverlap: function(a, b) {
                        return a.rehearsal.band_id !== b.rehearsal.band_id
                            && (a.rehearsal.rehearsal_room || a.rehearsal.band.rehearsal_room) !== (b.rehearsal.rehearsal_room || b.rehearsal.band.rehearsal_room);
                    },
                    eventDrop: saveEvent,
                    eventResize: saveEvent,
                    events: function(start, end, tz, cb) {
                        $.get(apiUrl, { start: start.format('YYYY-MM-DD'), end: end.format('YYYY-MM-DD'), filter: filter }, function(payload) {
                            if (!payload.rehearsals || !payload.rehearsals.length) {
                                cb([]);
                                return;
                            }

                            db = prepareRehearsals(payload.rehearsals);
                            computeCollisions(db);
                            cb(getEvents());
                        });
                    }
                });

                $(window).on('popstate', function () {
                    var m = document.location.pathname.match(/^\/([ABFG]|me|all)(?:\/|\?|$)/);

                    if (m) {
                        filter = m[1];
                        cal.fullCalendar('removeEvents');
                        cal.fullCalendar('renderEvents', getEvents());
                    } else {
                        document.location.reload();
                    }
                });

                var btn = $('<button></button>')
                    .addClass('fc-button fc-state-default fc-corner-left fc-corner-right'),
                    label = $('<label></label>')
                        .appendTo(btn);

                $('<select></select>')
                    .append('<option value="me">Moje kapely</option>')
                    .append('<option value="A">Zkušebna A</option>')
                    .append('<option value="B">Zkušebna B</option>')
                    .append('<option value="F">Zkušebna F</option>')
                    .append('<option value="G">Zkušebna G</option>')
                    .append('<option value="all">Vše</option>')
                    .val("all")
                    .appendTo(label)
                    .on('change', function () {
                        filter = $(this).val();
                        history.pushState(null, document.title, '/' + filter);
                        cal.fullCalendar('removeEvents');
                        cal.fullCalendar('renderEvents', getEvents());
                    });

                $('<i class="icon-down-dir"></i>')
                    .appendTo(label);

                btn.on('mouseenter mouseleave', function(evt) {
                    btn.toggleClass('fc-state-hover', evt.type === 'mouseenter');
                });

                cal.find('.fc-toolbar .fc-left').prepend(btn);
            })(jQuery);
    });
    </script>


{% endblock %}