#calendar {
    .fc-toolbar {
        .fc-left label {
            position: relative;

            select {
                position: relative;
                z-index: 1;
                padding: 0 1.5em 0 0;
                appearance: none;
                border: none;
                background: none;
                font: inherit;
                color: inherit;
                outline: none;
                cursor: pointer;
            }

            .icon-down-dir {
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .fc-center {
            margin: 7px 0 0;
        }
    }

    .fc-agendaDay-view .fc-bg .fc-day.fc-today {
        background: none;
    }

    .fc-nonbusiness {
        background: #999;
    }

    .fc-event::after {
        position: absolute;
        bottom: 0;
        right: 4px;
        font-size: 2em;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.8);
    }

    .room-A {
        border-color: #329eb7;
        background: #329eb7;

        &::after {
            content: 'A';
        }
    }

    .room-B {
        border-color: #32b74b;
        background: #32b74b;

        &::after {
            content: 'B';
        }
    }

    .room-F {
        border-color: #b7a932;
        background: #b7a932;

        &::after {
            content: 'F';
        }
    }

    .room-G {
        border-color: #8732b7;
        background: #8732b7;

        &::after {
            content: 'G';
        }
    }

    .has-collisions {
        border-color: #ff0000;
    }
}

@media (max-width: 567px) {
    #calendar {
        .fc-toolbar .fc-right {
            float: left;
            margin: 5px 0 0;
        }
    }
}
