body, html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

#main-header {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    padding: 5px 2em;
    background: #000;
    color: #fff;

    a {
        color: #fff;
    }

    .sm {
        display: none;
    }

    .user {
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    #main-header {
        padding: 10px 1em;

        .lg {
            display: none;
        }

        .sm {
            display: inline;
        }

        .user {
            margin-left: 0.25em;

            b {
                display: none;
            }
        }
    }
}

#main-content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    padding: 2em;

    .message {
        margin: auto;
        padding: 4em 2em;
        border: 1px solid #999;
        background: #fff;
    }
}

@media (max-width: 768px) {
    #main-content {
        padding: 1.5em 1em;
    }
}
