#flashes {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: visible;

    .flash {
        min-width: 200px;
        margin: 0 auto;
        padding: 1em 2em;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        & + .flash {
            margin-top: 5px;
        }
    }

    .flash-info {
        background: #9fe2ff;
    }

    .flash-success {
        background: #94fea4;
    }

    .flash-warning {
        background: #fff893;
    }

    .flash-error {
        background: #ffabae;
    }
}

.dialog-holder {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 0.3s, transform 0.3s step-end;
    opacity: 0;
    transform: scaleY(0);

    .dialog-content {
        max-width: 96vw;
        max-height: 96vh;
        box-sizing: border-box;
        margin: auto;
        padding: 2em 4em;
        box-shadow: 0 0 10px #000;
        border-radius: 4px;
        background: #fff;
        transition: transform 0.5s;
        transform: translateY(-20px);

        h3 {
            margin: 0 0 1em;
        }

        h4 {
            margin: 0.5em 0 0;
        }

        .dialog-buttons {
            margin: 1.5em 0 0.5em;
            text-align: center;
        }
    }

    &.opened {
        transition: opacity 0.3s, transform 0.3s step-start;
        opacity: 1;
        transform: scaleY(1);

        .dialog-content {
            transform: translateY(0);
        }
    }
}

@media (max-width: 768px) {
    .dialog-holder .dialog-content {
        padding: 2em;
    }
}
