{% extends "base.html" %}
{% block content %}


                {% if form.errors %}
                    <span class="card-title">Your username and password didn't match. Please try again.</span>

                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                    {% else %}
                     <span class="card-title">Insert your logon credentials </span>
                    {% endif %}
                {% endif %}

                <form method="post" action="{% url 'tabor:login' %}">


                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">

                     <label>{{ form.username.label_tag }}</label>

                     {{ form.username }}
                 </div>
                 <div class="row">
                      <label>{{ form.password.label_tag }}</label>

                        {{ form.password }}

                </div>

                <input class="btn waves-effect waves-light" type="submit" value="login" />
                <input type="hidden" name="next" value="{% url 'tabor:index' %}" />
                </form>


{% endblock %}