    div.myLogo {
             position: absolute;
             top: 100px;


      }
      nav.myNav{
        background:rgba(50,50,50,0.3);

      }
    .parallax-container {
      height: 380px;
    }



.embed-container {
  position: relative;
  padding-bottom: 56.25%; /* ratio 16x9 */
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.embed-container iframe {
  border: 0;
   overflow:hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ratio 4x3 */
.embed-container.ratio4x3 {
  padding-bottom: 75%;
}


/*-----------------*/


.dialog-holder {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    background: rgba(0,0,0,0.8);
    -webkit-transition: opacity .3s,-webkit-transform .3s step-end;
    transition: opacity .3s,-webkit-transform .3s step-end;
    transition: opacity .3s,transform .3s step-end;
    transition: opacity .3s,transform .3s step-end,-webkit-transform .3s step-end;
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

.dialog-holder .dialog-content {
    max-width: 96vw;
    max-height: 96vh;
    box-sizing: border-box;
    margin: auto;
    padding: 2em 4em;
    box-shadow: 0 0 10px #000;
    border-radius: 4px;
    background: #fff;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}


widgets.less:2
#flashes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: visible;
}